<form>
	<select class="player-search"></select>
	<select class="comparison">
		<option value='more_than'>more than</option>
		<option value='less_than'>less than</option>
	</select>
	<input type="number" class="bet-metric-amount">
	<select class="bet-metric"></select>
	<select class="start-week week-select"></select>
	<select class="end-week week-select"></select>
	<input type="number" class="amount">
	<input type="submit" class="submit-bet">
</form>